
.env

docker-compose.yml

certs/localhost.crt

certs/localhost.key

__pycache__/

nginx.conf

sqlite_db

test.py

uploads/

backup/

mysql/

temp/

processing

upload_progress.json

app.log

appvm.log

backup.sql

seq_uploads

seq_processed

bucket_list.txt

output_files/

lotus2_files/UNITE/

lotus2_files/SILVA/

scripps_uploads/

lotus2_files/unite_v7/

lotus2_files/SLV_138.1_SSU.fasta

lotus2_files/SLV_138.1_SSU.tax

lotus2_files/SLV_138.1_SSU_NO_AMF.fasta

lotus2_files/SLV_138.1_SSU_NO_AMF.tax

richness_exports/

r_scripts/Rplots.pdf

lotus2_files/mothur_EUK_SSU_v1.9.3.fasta

lotus2_files/mothur_EUK_SSU_v1.9.3.tax

lotus2_files/mothur_EUK_SSU_v1.9.3_lotus.tax

lotus2_files/mothur_EUK_ITS_v1.9.3.tax

lotus2_files/mothur_EUK_ITS_v1.9.3.zip

geopandasapp/Resolve_Ecoregions_-6779945127424040112.gpkg

static/map.html

static/map_full.html

static/data.geojson

flask_session/

mysql_test/

lotus2_files/UNITE_v10_sh_general_release_dynamic_all_19.02.2025.fasta

lotus2_files/UNITE_v10_sh_general_release_dynamic_all_19.02.2025.tax

r_scripts/LibrarySize_1.png

r_scripts/filtered_rarefaction_1.png

r_scripts/ecm_physeq_by_genus_1.png

r_scripts/amf_physeq_by_genus_1.png

lotus2_files/extra_unite_files/

lotus2_files/UNITE_v10_sh_general_release_dynamic_all_19.02.2025.fasta.nhr

lotus2_files/UNITE_v10_sh_general_release_dynamic_all_19.02.2025.fasta.nin

lotus2_files/UNITE_v10_sh_general_release_dynamic_all_19.02.2025.fasta.nsq