
.env

docker-compose.yml

certs/localhost.crt

certs/localhost.key

__pycache__/

nginx.conf

sqlite_db

test.py

uploads/

backup/

mysql/

temp/

processing

upload_progress.json

app.log

appvm.log

backup.sql

seq_uploads

seq_processed

bucket_list.txt

output_files/

lotus2_files/UNITE/

lotus2_files/SILVA/

scripps_uploads/
