
body {
    font-family: "LMRoman";
    font-size: 13px;
}



/* ---- Base page layout ---- */
@page {
    size: A4;
    margin: 2.3cm;
}

p {
  font-family: "LMRoman";
  font-weight: 400;
}
p strong {
  font-family: "LMRomanBold";
  font-weight: 700;
}

h1, h2, h3 {
    font-family: "LMRomanBold";
    font-weight: 700;   /* must match the font you defined */
}

/* ---- Title ---- */
h1 {
    font-size: 16pt;
    text-align: center;
    margin-bottom: 0.3cm;
}

/* ---- Section headers ---- */
h2 {
    font-size: 12pt;
    margin-top: 0.3cm;
    margin-bottom: 0.1cm;
}

h3 {
    font-size: 10pt;
    margin-top: 0.3cm;
    margin-bottom: 0.1cm;
}

/* ---- Paragraphs ---- */
p {
    margin: 0 0 5px 0;
    text-align: justify;      /* Like LaTeX */
    hyphens: auto;            /* WeasyPrint supports this */
}

/* ---- Code blocks ---- */
pre {
    background: #f5f5f5;
    padding: 8px 12px;
    border: 1px solid #ddd;
    font-size: 10pt;
    white-space: pre-wrap;
}

/* ---- Images ---- */
img {
    width: 100%;
    margin: 10px 0;
}

/* ---- Lists ---- */
ul, ol {
    margin: 0 0 12px 0;
}

.page-break {
    page-break-before: always;   /* Force a new page */
}