{% macro render_analysis_cell(region, upload) %}
  <td>
    <strong>{{ upload[region] }}</strong><br>
    {% if upload.Sequencing_platform.strip() == 'Nanopore (ONT, any)' or upload.Sequencing_platform.strip() == 'ION Torrent' %}
      Sequencing platform: '{{ upload.Sequencing_platform }}'. No analysis yet
    {% else %}
      {% if upload.nr_fastq_files_db_reported == 0 %}
        No files uploaded yet
      {% else %}
        Analysis:
        {% for analysis in upload.analysis[upload[region]] %}
            <div>
                <strong>{{ analysis.analysis_type_name }}</strong><br>

                <span class="{{ 'text-success' if analysis.lotus2_status == 'Finished' else 'text-danger' }}">
                  Lotus2: {{ analysis.lotus2_status if analysis.lotus2_status else 'Not Started' }}
                </span><br>
                <span class="{{ 'text-success' if analysis.rscripts_status == 'Finished' else 'text-danger' }}">
                  Rscripts: {{ analysis.rscripts_status if analysis.rscripts_status else 'Not Started' }}
                </span>
            </div>
        {% endfor %}
      {% endif %}
    {% endif %}
  </td>
{% endmacro %}