<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/google_login.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Application usage instructions</title>

</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="p-4">
    <h1>Application usage instructions</h1>
    <div class="p-3">
      <div>
        <h3>To get access to the application</h3>
        <ol>
          <li> Go to <a href="https://sequencing-submission.spun.earth/">The app homepage</a></li>
          <li> Click on "Sign in with google". </li>
          <li> Sign in with a google account of your choice. </li>
          <li>
            Contact us via email, telling us what google account you used so that we can approve your account in the system.
            Until this happens, you will not have access to the application.
          </li>
        </ol>

        <h3>After your account has been approved, and any time you want to upload data </h3>

        <h4> Preparation of your data </h4>
        <ol>
          <li>
            Create a csv file describing your data, this is crucial for correct upload of your data. <span class="text-danger"> This is different than your metadata file </span>
            <a href="/csv_structure" target="_blank" class="text-decoration-underline">Instructions for the csv file</a>. <br>

          </li>
          <li> Fill in the csv for the files you want to upload. </li>
          <li> Please note that one line in the csv could refer to multiple of your files </li>
        </ol>

        <h4> Upload the data </h4>
        <ol>
          <li> Go to the <a href="https://sequencing-submission.spun.earth/" target="_blank" class="text-decoration-underline">app homepage</a>. </li>
          <li> (If you are not signed in) Sign in with google. </li>
          <li> (If the system doesn't take you automaticaly to the form) Click on "Start a new upload" </li>
          <li> On "Step 1: Upload your metadata file.", upload the metadata file you had prepared for your samples. </li>
          <li> On "Step 2: Choose sequencing platform used", select the sequencing method you used. </li>
          <li> On "Step 3: upload Data Submission File (csv)", upload the csv file you prepared above <span class="text-danger"> This is different than your metadata file </span></li>
          <li> Check the output and if all is ok, then </li>
          <li> Start uploading your files. </li>
          <li> You don't need at this stage to do anything else, just communicate to us the "Process id:" from the top of the form, and we will check the data. </li>
        </ol>

        <h3>Feedback</h3>
        <div>We appreciate any feedback you can provide on the usage of this application and these instructions. Please reach out to us with your suggestions</div>
      </div>
    </div>
  </div>
</body>
</html>
