<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/google_login.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>CSV file structure</title>

</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="p-4">
    <h1>CSV file structure</h1>
    <div class="p-3">
      <div>
        <h3>CSV file format</h3>
        <p>We need a csv file to describe the sequencing files you will upload. This must be filled in correctly to allow file upload and quality control analyses. 
        <p>"CSV" stands for "Comma Seperated Values" and you can read more about it at the relevant <a href="https://en.wikipedia.org/wiki/Comma-separated_values">wikipedia article</a></p>
        <p>You can open it on a text editor, or in a spreadsheet application (for example MS excel, OpenOffice Sheets, Google Sheets), as long as you save it at the end as ".csv"</p>

        <h3>Preparation of your data. </h3>
        <ol>
          <li> Download and use the <a href="/csv_sample">sample csv file</a> as template. </li>
          <li> Fill in the csv for the files you want to upload. The column names are explained bellow. </li>
          <li> Each row should refer to one pair of files, if using Illumina paired-end sequencing. Do not include separate rows for the R1 and R2 files. </li>
        </ol>

        <h3>Column names for the csv file </h3>
        <ol>
          <li> <span class="fw-bold">Sample_ID</span>: The number or name assigned to your sample that you can use to identify it. Please keep this as short as possible, preferably under 10 characters. Can be a number or a name used to indicate the identity of the sample. E.g Kazakhstan_1, Control_1, K1, 1. </li>
          <li> 
              <span class="fw-bold">Sequencer_ID</span>: 
              The name of the sequencing file output by the sequencer, must match exactly the characters in the file names, (without the file ending). <br>
              For Illumina sequencing, include the name of the pair of files up to the the '_S' characters. <br>
              Example 1: For Illumina sequencing if your file pairs are called '055id055_S361_R1_001.fastq.gz' and '055id055_S361_R2_001.fastq.gz', write '055id055' only.<br>
              
              Example 2: Non Illumina sequencing. If your file is named 'KlmtM2_M11.fastq.gz', please write 'KlmtM2_M11'
            </li>
          <li> <span class="fw-bold">Sequencing_provider</span>: Company, organization or individual that sequenced samples.</li>
          <li> <span class="fw-bold">Project</span>: You will be given a project name, this will be the same for all samples within a project. I.e sl-kazakhstan23</li>
          <li> <span class="fw-bold">Region</span>: Amplicon region (SSU, LSU, ITS1, ITS2)</li>
          <li> <span class="fw-bold">Index_1</span>: [Optional] The sequence of index 1 used for sequencing, i.e GACGAGATTA</li>
          <li> <span class="fw-bold">Index_2</span>: [Optional] The sequence of index 2 used for sequencing, i.e ACATTATCCT.</li>
        </ol>

      </div>
    </div>
  </div>
</body>
</html>
