<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>My data</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>
  <h1>My data</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Bucket name</th>
          <th scope="col">File</th>
          <th scope="col">File creation %</th>
          <th scope="col">File date</th>
        </tr>
      </thead>
      <tbody id="buckets_body">
        {% for name, bucket in my_buckets.items() %}
          <tr>
              <td scope="row"></td>
              <td>{{ bucket.id }}</td>
              <td>
                {%if bucket.archive_file == None %}
                  <a href="#" class="generate_file" data-bucket="{{ bucket.id }}" id="generate-file-{{ bucket.id }}">Generate file</a>
                  <span class="text-info" id="info-{{ bucket.id }}" style="display:none">File being generated. Please wait</span>
                {% else %}
                  {{ bucket.archive_file }}
                  {%if bucket.archive_file_creation_progress == 100 %}
                    <br>
                    <a href="#" class="generate_download" data-bucket="{{ bucket.id }}" data-file="{{ bucket.archive_file }}">Generate Download Link</a>
                  {% endif %}
                {% endif %}
                <a style="display:none" id="download-{{ bucket.id }}">Download</a>
              </td>
              <td id="progress-{{ bucket.id }}">{{ bucket.archive_file_creation_progress }}</td>
              <td>{{ bucket.archive_file_created_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    let intervals = {}; // To store interval IDs for each file upload
    $('.generate_file').on('click', function() {
      event.preventDefault();
      var bucket = $(this).data('bucket');
      var generateFile = $(this); // Store reference to the 'generate_file' link

      console.log('bucket:', bucket);

      $('#info-' + bucket).show();

      generateFile.hide();
      // Make AJAX request to remove access to the bucket
      $.ajax({
        url: '/create_bucket_archive',
        type: 'POST',
        data: {
          bucket: bucket
        },
        success: function(response) {
          // Handle success response if needed
          console.log('Started creating archive for:', bucket);
          if (response.status==1) {
            updateArchiveProgress(bucket);
          }
        },
        error: function(xhr, status, error) {
          // Handle error response if needed
          console.error('Error removing access:', error);
        }
      });
    });

    $('.generate_download').on('click', function() {
      event.preventDefault();
      var file = $(this).data('file');
      var bucket = $(this).data('bucket');
      var generateLink = $(this); // Store reference to the 'generate_download' link
      var downloadLink = $('#download-' + bucket); // Store reference to the download link by ID

      console.log('file:', file);
      console.log('bucket:', bucket);
      // Make AJAX request to remove access to the bucket
      $.ajax({
        url: '/generate_download_link',
        type: 'POST',
        data: {
          file: file,
          bucket: bucket
        },
        success: function(response) {
          // Handle success response if needed
          console.log('Url generated for bucket:', bucket);
          console.log(response.url)
          if (response.status==1) {
            generateLink.hide();
            downloadLink.show().attr('href', response.url);
          }
        },
        error: function(xhr, status, error) {
          // Handle error response if needed
          console.error('Error removing access:', error);
        }
      });
    });
    function updateArchiveProgress(bucket) {
        console.log('We will now start calling for updates for updateArchiveProgress for bucket ' + bucket);

        let interval_id = 'bucket_' + bucket;
        // Clear any existing interval for the same file upload
        clearInterval(intervals[interval_id]);

        intervals[interval_id] = setInterval(function () {
            $.ajax({
                url: `/get_archive_progress?bucket=${bucket}`,
                type: 'GET',
                success: function(data) {
                    let progress = data.progress;

                    var progress_td = 'progress-' + bucket;
                    // Check if the element with id step_5_msg_id exists
                    $('#progress-'+bucket).text(progress);

                    if (progress >= 100) {
                        clearInterval(intervals[interval_id]); // Stop updating when progress reaches 100%
                        console.log('We will now stop calling for updates for updateArchiveProgress for bucket ' + bucket);
                        //$('#generate-file-'+bucket).hide();
                        if (data.url) {
                          $('#download-' + bucket).show().attr('href', data.url);
                          $('#info-' + bucket).hide();
                        }

                    }
                },
                error: function() {
                    // Handle error situations
                }
            });
        }, 5000); // Update progress every 10 seconds (adjust timing as needed)
    }
  </script>
</body>
</html>
