<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/dropzone.min.js"></script>
    <link href="/static/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Upload data</title>
</head>
<body>
    <div id="step1">
      <h3> Step 1: upload key file (csv) </h3>
      {% if csv_uploaded %}
        <div id="csv_msg" class="text-success">CSV file already uploaded : {{ csv_filename }}</div>
      {% else %}
        <form
            method="POST"
            action="/uploadcsv"
            class="dropzone dz-clickable"
            id="csvDropper"
            enctype="multipart/form-data"
        >
        </form>
        <div id="csv_msg"></div>
      {% endif %}
    </div>
    <div id="step2" {% if not csv_uploaded %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 2: upload gz file with sample data </h3>
      {% if gz_uploaded %}
        <div id="upload_msg" class="text-success">GZ file already uploaded: {{ gz_filename }}</div>
      {% else %}
        <form
            method="POST"
            action="/upload"
            class="dropzone dz-clickable"
            id="otherDropper"
            enctype="multipart/form-data"
            {% if ((not csv_uploaded) and (not gz_uploaded)) %} style="display: none;" {% endif %}
        >
        </form>
        <div id="upload_msg"></div>
      {% endif %}
    </div>
    <div id="step3" {% if not gz_uploaded %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 3: Raw files uploaded to google storage </h3>
      <div> 
        <form id="step_3_upload_raw" method="POST" action="/sendrawtostorage">
          <input type="hidden" name="process_id" value="{{ process_id }}">
          <input type="hidden" name="file_uuid">
          <input type="submit">
        </form>
      </div>
      <div id="bucketProgress">Bucket Transfer Progress: 0%</div> 
      <div id="bucket_msg"></div>      
    </div>    
    <script type="application/javascript">
        let process_id = {{ process_id | default('0') }}; // To track the process from start to end. 
        let progressTrackers = {}; // To track progress for each file
        Dropzone.options.csvDropper = {
            paramName: "file",
            url: "/uploadcsv", // Set the specific endpoint for CSV
            maxFilesize: 1, // MB
            acceptedFiles: '.csv',
            init: function () {
                this.on("error", function (file, errorMessage, xhr) {
                    if (xhr && xhr.responseText) {
                        var response = JSON.parse(xhr.responseText);
                        $("#csv_msg").html('<span class="text-danger">' + response.error + '</span>');
                    } else {
                        $("#csv_msg").html('<span class="text-danger">' + errorMessage + '</span>');
                    }
                });
                
                this.on("success", function (file, response) {
                    $("#csv_msg").html('<span class="text-success">' + response.msg + '</span>');
                    
                    // Access and use the process ID
                    process_id = response.process_id;

                    // Update the hidden input field within the specific form
                    var form = $("#step_3_upload_raw");
                    form.find('input[name="process_id"]').val(process_id);                    

                    $('#step2').css('opacity', '1');
                    $('#otherDropper').show(); // Show the dropzone area                    
                });
            }
        };
        
        Dropzone.options.otherDropper = {
            paramName: "file",
            chunking: true,
            forceChunking: true,
            acceptedFiles : ".tar,.gz",
            url: "/upload",
            maxFilesize: 25025, // megabytes
            chunkSize: 1000000, // bytes
            maxFiles: 1, // Restrict to accept only one file

            sending: function(file, xhr, formData) {
                let file_uuid = file.upload.uuid;
                var form = $("#step_3_upload_raw");
                form.find('input[name="file_uuid"]').val(file_uuid);  
                if (file_uuid && !progressTrackers[file_uuid]) {
                    progressTrackers[file_uuid] = true;
                }
                formData.append("process_id", process_id);
            },
            
            init: function () {
              
               
                this.on("error", function (file, errorMessage, xhr) {
                    if (xhr && xhr.responseText) {
                        var response = JSON.parse(xhr.responseText);
                        $("#upload_msg").html('<span class="text-danger">' + response.error + '</span>');
                    } else {
                        $("#upload_msg").html('<span class="text-danger">' + errorMessage + '</span>');
                    }
                });
                
                this.on("success", function (file, response) {
                    $("#upload_msg").html('<span class="text-success">' + response.msg + '</span>');
                    
                    $('#step3').css('opacity', '1');                 
                });
            }            
        }

        let intervals = {}; // To store interval IDs for each file upload

        function updateProgress(file_uuid) {
            console.log('We will now start calling for updates');

            // Clear any existing interval for the same file upload
            clearInterval(intervals[file_uuid]);

            intervals[file_uuid] = setInterval(function () {
                $.ajax({
                    url: `/uploadprogress?file_uuid=${file_uuid}`,
                    type: 'GET',
                    success: function(data) {
                        let progress = data.progress;
                        $('#bucketProgress').text(`Bucket Transfer Progress: ${progress}%`);

                        if (progress >= 100) {
                            clearInterval(intervals[file_uuid]); // Stop updating when progress reaches 100%
                            console.log('We will now stop calling for updates');
                        }
                    },
                    error: function() {
                        // Handle error situations
                    }
                });
            }, 5000); // Update progress every 5 seconds (adjust timing as needed)
        }
        
        $(document).ready(function () {
            $('#step_3_upload_raw').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();

                // Get form data
                var formData = $(this).serialize();
                
                var file_uuid = $(this).find('input[name="file_uuid"]').val();
                updateProgress(file_uuid);
                
                $.ajax({
                    type: 'POST',
                    url: '/sendrawtostorage',
                    data: formData,
                    success: function (response) {
                        // Handle success
                        console.log('Form data submitted via AJAX successfully');
                    },
                    error: function (error) {
                        // Handle errors
                        console.error('Error submitting form data via AJAX', error);
                    }
                });
            });
        });        
    </script>
</body>
</html>
