<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/dropzone.min.js"></script>
    <link href="/static/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Upload data</title>
</head>
<body>
    <div id="step1">
      <h3> Step 1: upload key file (csv) </h3>
      <form
          method="POST"
          action="/uploadcsv"
          class="dropzone dz-clickable"
          id="csvDropper"
          enctype="multipart/form-data"
      >
      </form>
      <div> PLACEHOLDER FOR FIRST STEP </div>
    </div>
    <div id="step2">
      <h3> Step 2: upload gz file with sample data </h3>
      <form
          method="POST"
          action="/upload"
          class="dropzone dz-clickable"
          id="otherDropper"
          enctype="multipart/form-data"
      >
      </form>

      <div id="bucketProgress">Bucket Transfer Progress: 0%</div> 
      
    </div>
    <div id="step3">
      <h3> Step 3: Process files with uploaded file </h3>
      <div> PLACEHOLDER FOR THIRD STEP </div>
    </div>    
    <script type="application/javascript">
        let progressTrackers = {}; // To track progress for each file
        Dropzone.options.csvDropper = {
            paramName: "file",
            url: "/uploadcsv", // Set the specific endpoint for CSV
            maxFilesize: 1, // MB
            acceptedFiles: '.csv'
        };
        
        Dropzone.options.otherDropper = {
            paramName: "file",
            chunking: true,
            forceChunking: true,
            acceptedFiles : ".tar,.gz",
            url: "/upload",
            maxFilesize: 25025, // megabytes
            chunkSize: 1000000, // bytes
            maxFiles: 1, // Restrict to accept only one file

            sending: function(file, xhr, formData) {
                let file_uuid = file.upload.uuid;

                if (file_uuid && !progressTrackers[file_uuid]) {
                    progressTrackers[file_uuid] = true;
                    updateProgress(file_uuid);
                }
            }
        }

        let intervals = {}; // To store interval IDs for each file upload

        function updateProgress(file_uuid) {
            console.log('We will now start calling for updates');

            // Clear any existing interval for the same file upload
            clearInterval(intervals[file_uuid]);

            intervals[file_uuid] = setInterval(function () {
                $.ajax({
                    url: `/uploadprogress?file_uuid=${file_uuid}`,
                    type: 'GET',
                    success: function(data) {
                        let progress = data.progress;
                        $('#bucketProgress').text(`Bucket Transfer Progress: ${progress}%`);

                        if (progress >= 100) {
                            clearInterval(intervals[file_uuid]); // Stop updating when progress reaches 100%
                            console.log('We will now stop calling for updates');
                        }
                    },
                    error: function() {
                        // Handle error situations
                    }
                });
            }, 5000); // Update progress every 5 seconds (adjust timing as needed)
        }
    </script>
</body>
</html>
