

<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/dropzone.min.js"></script>
    <link href="/static/css/dropzone.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/resumable.js/1.1.0/resumable.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.0/spark-md5.min.js"></script>
    <title>Upload data</title>
</head>
<body>
    <div id="msg" class="text-info">{{ msg }}</div>
    <div id="step1">
      <h3> Step 1: upload key file (csv) </h3>
      {% if csv_uploaded %}
        <div id="step_1_msg" class="text-success">CSV file already uploaded : {{ csv_filename }}</div>
      {% else %}
        <form
            method="POST"
            action="/uploadcsv"
            class="dropzone dz-clickable"
            id="csvDropper"
            enctype="multipart/form-data"
        >
        </form>
        <div id="step_1_msg"></div>
      {% endif %}
    </div>
    <div id="step2" {% if not csv_uploaded %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 2: upload gz/tar/zip file with sample data </h3>
      <form
        method="POST"
        action="/upload"
        id="step_2_form"
        enctype="multipart/form-data"
        {% if ((not csv_uploaded) and (not gz_uploaded)) %} style="display: none;" {% endif %}
      >
        <input type="file" id="step_2_button" name="file" />
        <input type="hidden" name="process_id" value="{{ process_id }}">
      </form>      
      {% if gz_uploaded %}
        <div id="step_2_msg" class="text-success">GZ file already uploaded: {{ gz_filename }}</div>
      {% else %}
        <div id="step_2_msg"></div>
      {% endif %}
    </div>
    <div id="step3" {% if not gz_uploaded %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 3: Raw files uploaded to google storage </h3>

      {% if gz_sent_to_bucket %}
        <div id="step_3_msg" class="text-success">GZ file successfully sent to google storage</div>
      {% else %}
        <div>
          <form
              id="step_3_form"
              method="POST"
              action="/sendrawtostorage"
              {% if ((not gz_sent_to_bucket) and (not gz_uploaded)) %} style="display: none;" {% endif %}
          >
            <input type="hidden" name="process_id" value="{{ process_id }}">
            <input type="hidden" name="file_uuid">
            <input type="hidden" name="totalChunks"> 
            <input type="submit" class="btn btn-primary" id="step_3_button">
          </form>
        </div>
        <div id="bucketProgress">Bucket Transfer Progress: 0%</div>
        <div id="step_3_msg"></div>
      {% endif %}
    </div>
    <div id="step4" {% if not gz_sent_to_bucket %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 4: Unzip Raw files</h3>
      {% if gz_unziped %}
        <div id="step_4_msg" class="text-success">File successfully unzipped</div>
      {% else %}
        <div>
          <form
              id="step_4_form"
              method="POST"
              action="/unzipraw"
              {% if ((not gz_uploaded) or (gz_unziped)) %} style="display: none;" {% endif %}
          >
            <input type="hidden" name="process_id" value="{{ process_id }}">
            <input type="submit" class="btn btn-primary" id="step_4_button">
          </form>
        </div>
        <div id="step_4_msg"></div>
      {% endif %}
    </div>
    <div id="step5" {% if not gz_unziped %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 5: Rename files</h3>
      {% if files_renamed %}
        <div id="step_5_msg" class="text-success">Files renamed</div>
      {% else %}
        <div>
          <form
              id="step_5_form"
              method="POST"
              action="/renamefiles"
              {% if ((not gz_unziped) or (files_renamed)) %} style="display: none;" {% endif %}
          >
            <input type="hidden" name="process_id" value="{{ process_id }}">
            <input type="submit" class="btn btn-primary" id="step_5_button">
          </form>
        </div>
        <div id="step_5_msg"></div>
        <div id="step_5_details"></div>
      {% endif %}
    </div>
    <div id="step6" {% if not files_renamed %} style="opacity: 0.5;" {% endif %}>
      <h3> Step 6: Run fastqc</h3>
      <div>
        <form
            id="step_6_form"
            method="POST"
            action="/runfastqc"
            {% if ((not files_renamed) or (fastqc_run)) %} style="display: none;" {% endif %}
        >
          <input type="hidden" name="process_id" value="{{ process_id }}">
          <input type="submit" class="btn btn-primary" id="step_6_button">
        </form>
      </div>
      <div id="step_6_msg"></div>
      <div id="step_6_details"></div>
    </div>

    <div id="files_table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Original filename</th>
            <th scope="col">Renamed to</th>
            <th scope="col">Fastqc</th>
          </tr>
        {% if gz_unziped %}
          {% for filename, data in matching_files_db.items() %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ filename }}</td>
                <td>{{ data.new_filename }}</td>
                <td></td>
            </tr>
          {% endfor %}

        {% endif %}
        </thead>
        <tbody id="files_body">
        </tbody>
      </table>
    </div>
    <script type="application/javascript">
        function calculateMD5(file, callback) {
            var reader = new FileReader();
            var spark = new SparkMD5.ArrayBuffer();
          
            reader.onload = function (event) {
                spark.append(event.target.result);
                callback(spark.end());
            };
          
            reader.readAsArrayBuffer(file);
        }
    
        let process_id = {{ process_id | default('0') }}; // To track the process from start to end.
        let progressTrackers = {}; // To track progress for each file
        Dropzone.options.csvDropper = {
            paramName: "file",
            url: "/uploadcsv", // Set the specific endpoint for CSV
            maxFilesize: 1, // MB
            acceptedFiles: '.csv',
            init: function () {
                this.on("error", function (file, errorMessage, xhr) {
                    if (xhr && xhr.responseText) {
                        var response = JSON.parse(xhr.responseText);
                        $("#step_1_msg").html('<span class="text-danger">' + response.error + response.mismatch + '</span>');
                    } else {
                        $("#step_1_msg").html('<span class="text-danger">' + errorMessage + '</span>');
                    }
                });

                this.on("success", function (file, response) {
                    $("#step_1_msg").html('<span class="text-success">' + response.msg + '</span>');

                    // Access and use the process ID
                    process_id = response.process_id;

                    // Update the hidden input field within the specific forms
                    var form2 = $("#step_2_form");
                    form2.find('input[name="process_id"]').val(process_id);                    
                    var form3 = $("#step_3_form");
                    form3.find('input[name="process_id"]').val(process_id);
                    var form4 = $("#step_4_form");
                    form4.find('input[name="process_id"]').val(process_id);
                    var form5 = $("#step_5_form");
                    form5.find('input[name="process_id"]').val(process_id);
                    var form6 = $("#step_6_form");
                    form6.find('input[name="process_id"]').val(process_id);

                    $('#step2').css('opacity', '1');
                    $('#step_2_form').show(); // Show the dropzone area
                });
            }
        };


        // Initialize Resumable.js
        var r = new Resumable({
            target: '/upload', // Your upload URL
            chunkSize: 10 * 1024 * 1024, // Chunk size (10 MB in this example)
            testChunks: true,
            uploadMethod: 'POST',
            query: {
                process_id: process_id // Pass process_id as a query parameter
            },            
            // Add any other configuration options as needed
        });

        // Assign file input to Resumable.js
        r.assignBrowse(document.getElementById('step_2_button'));

        // Listen to events
        r.on('fileAdded', function(file) {
            console.log('file added to resumamle');
            // Calculate MD5 hash of the file and include it in the Resumable.js query
            $('#step_2_button').prop("disabled", true);
            $("#step_2_msg").html('Calculating md5. Please wait').addClass('text-info').removeClass('text-danger').removeClass('text-success');
            calculateMD5(file.file, function (md5) {
                r.opts.query.md5 = md5; // Add MD5 hash to the query parameters
                $("#step_2_msg").html('Md5 calculated:' + md5).addClass('text-info').removeClass('text-danger').removeClass('text-success');
                r.upload();
            });            
        });

        r.on('progress', function(file) {
            let progress =Math.round(r.progress() * 10000)/100
            $("#step_2_msg").html(`Progress ${progress} %`).addClass('text-info').removeClass('text-danger').removeClass('text-success');
        });

        r.on('error', function(file, message) {
            console.log('Upload error:', message);
        });

        r.on('pause', function(file) {
            let progress =Math.round(r.progress() * 10000)/100
            $("#step_2_msg").html(`Process paused. Progress ${progress} %`).addClass('text-info').removeClass('text-danger').removeClass('text-success');
        });

        r.on('fileSuccess', function(file, message) {
          const parsedMessage = JSON.parse(message);
          $("#step_2_msg").html(parsedMessage.message).addClass('text-success').removeClass('text-danger').removeClass('text-info');
          $('#step_3_form').show();
          $('#step_3_button').prop("disabled", false);
          $('#step3').css('opacity', '1');
        });

        r.on('fileError', function(file, message) {
          const parsedMessage = JSON.parse(message);
            $("#step_2_msg").html(parsedMessage.message).addClass('text-danger').removeClass('text-success').removeClass('text-info');
        });


        let intervals = {}; // To store interval IDs for each file upload

        function updateProgressRawFileBucket(file_uuid) {
            console.log('We will now start calling for updates');

            // Clear any existing interval for the same file upload
            clearInterval(intervals[file_uuid]);

            intervals[file_uuid] = setInterval(function () {
                $.ajax({
                    url: `/uploadprogress?file_uuid=${file_uuid}`,
                    type: 'GET',
                    success: function(data) {
                        let progress = data.progress;
                        $('#bucketProgress').text(`Bucket Transfer Progress: ${progress}%`);

                        if (progress >= 100) {
                            clearInterval(intervals[file_uuid]); // Stop updating when progress reaches 100%
                            console.log('We will now stop calling for updates');
                            $('#step_3_msg').text('Raw file successfully uploaded to google storage').addClass('text-success');
                            $('#step_4_form').show();
                            $('#step4').css('opacity', '1');
                        }
                    },
                    error: function() {
                        // Handle error situations
                    }
                });
            }, 5000); // Update progress every 5 seconds (adjust timing as needed)
        }

        $(document).ready(function () {
            $('#step_3_form').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
                $('#step_3_button').prop("disabled", true);
                // Get form data
                var formData = $(this).serialize();

                var file_uuid = $(this).find('input[name="file_uuid"]').val();
                updateProgressRawFileBucket(file_uuid);

                $.ajax({
                    type: 'POST',
                    url: '/sendrawtostorage',
                    data: formData,
                    success: function (response) {
                        // Handle success
                        console.log('Form data submitted via AJAX successfully');
                    },
                    error: function (error) {
                        // Handle errors
                        console.error('Error submitting form data via AJAX', error);
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#step_4_form').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
                $('#step_4_button').prop("disabled", true);
                // Get form data
                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/unzipraw',
                    data: formData,
                    success: function (response) {
                        // Handle success
                        console.log('Form data submitted via AJAX successfully');
                        $('#step_4_msg').text('Raw file successfully unzipped. Nr of fastq.gz files: ' + response.nr_files).addClass('text-success');

                        let table_row = ''
                        for (key in response.matching_files) {
                          table_row = '<tr><th scope="row">' + (key+1) + '</th><td>' + response.matching_files[key] + '</td><td></td><td></td></tr>';
                          $('#files_body').append( table_row );
                        }

                        $('#step_5_form').show();
                        $('#step5').css('opacity', '1');
                    },
                    error: function (error) {
                        // Handle errors
                        console.error('Error submitting form data via AJAX', error);
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#step_5_form').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
                $('#step_5_button').prop("disabled", true);
                // Get form data
                var formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/renamefiles',
                    data: formData,
                    success: function (response) {
                        // Handle success
                        console.log('Form data submitted via AJAX successfully');
                        $('#step_5_msg').text('File renaming process finished').addClass('text-success');
                        let results = response.results;
                        let $ul = $('<ul>'); // Create a new ul element

                        // Loop through the results array and create list items
                        $.each(results, function(index, text) {
                          $ul.append($('<li>').text(text)); // Create li with the text and append to ul
                        });

                        $.each(response.files_dict, function(oldFilename, fileDetails) {
                            // Iterate through table rows in the tbody with ID 'files_body'
                            $('#files_body tr').each(function() {
                                var currentFilename = $(this).find('td:nth-child(2)').text(); // Get the filename from the second cell
                                if (currentFilename === oldFilename) {
                                    // Update the third cell with new_filename if it exists in fileDetails
                                    if ('new_filename' in fileDetails) {
                                        $(this).find('td:nth-child(3)').text(fileDetails.new_filename);
                                    }
                                }
                            });
                        });

                        // Append the ul with list items to the specified HTML element
                        $('#step_5_details').empty().append($ul);

                        $('#step_6_form').show();
                        $('#step6').css('opacity', '1');
                    },
                    error: function (error) {
                        // Handle errors
                        console.error('Error submitting form data via AJAX', error);
                    }
                });
            });
        });
        
        function updateProgressFastq(process_id) {
            console.log('We will now start calling for updates for fastqc');

            let interval_id = 'fastq_' + process_id
            // Clear any existing interval for the same file upload
            clearInterval(intervals[interval_id]);

            intervals[interval_id] = setInterval(function () {
                $.ajax({
                    url: `/fastqcprogress?process_id=${process_id}`,
                    type: 'GET',
                    success: function(data) {
                        let process_finished = data.process_finished;
                        // $('#bucketProgress').text(`Bucket Transfer Progress: ${progress}%`);

                        if (process_finished == 1) {
                            clearInterval(intervals[interval_id]); // Stop updating when progress reaches 100%
                            console.log('We will now stop calling for updates');
                            $('#step_6_msg').text('Creation of fastqc and multiqc reports finished').addClass('text-success').removeClass('text-info');
                            $('#step_6_details').html(`<a href="/multiqc?process_id=${process_id}" target="_blank">Open multiqc report</a>`);
                        } else {
                            $('#step_6_msg').text('Files done: ' + data.files_done + ' / ' +  data.files_main).addClass('text-info').removeClass('text-success');
                        }
                    },
                    error: function() {
                        // Handle error situations
                    }
                });
            }, 5000); // Update progress every 5 seconds (adjust timing as needed)
        }
        
        $(document).ready(function () {
            $('#step_6_form').submit(function (event) {
                // Prevent the default form submission
                event.preventDefault();
                $('#step_6_button').prop("disabled", true);
                // Get form data
                var formData = $(this).serialize();
                var process_id = $(this).find('input[name="process_id"]').val();
                updateProgressFastq(process_id)  
                
                $.ajax({
                    type: 'POST',
                    url: '/fastqcfiles',
                    data: formData,
                    success: function (response) {
                        // Handle success
                        console.log('Form data submitted via AJAX successfully');
                        
                        $('#step_6_msg').text('Fastqc process started').addClass('text-info');
                    },
                    error: function (error) {
                        // Handle errors
                        console.error('Error submitting form data via AJAX', error);
                    }
                });
            });
        });
    </script>
</body>
</html>