<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Spun data upload</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
      </ul>
    </div>
  </div>
  <div class="content" style="p-4">
    <h1>Sequencing data upload process form</h1>
    <div>
        You are logged in with the name: {{name}} <br>
        with the email: {{email}}
    </div>


      {% if current_user.is_authenticated and current_user.admin %}
            <a href="/admin_operations">
              <div class="page-menu-item">
                <h3>Admin operations</h3>
              </div>
            </a>
      {% endif %}
    
      {% if current_user.is_authenticated and current_user.approved %}
        {% if user_should_see_v2 or current_user.admin %}
          <h3> Version 2 </h3>
          <a href="{{ url_for('upload_form_bp.metadata_form') }}">
            <div class="page-menu-item">
              <h3>Data submission form</h3>
              <div> Start a new process. </div>
              {% if user_metadata_uploads %}
                <div> If you have already started one, please continue the previous process if possible </div>
              {% endif %}
            </div>
          </a>
          {% if user_metadata_uploads %}
            <a href="/user_uploads_v2?user_id={{ user_id }}">
              <div class="page-menu-item">
                <h3>Previous uploads of user</h3>
                <div> Please note that you have started allready a previous process </div>
                <div> You can continue the previous process if possible </div>
              </div>
            </a>
          {% endif %}
        {% endif %}
      {% endif %}

      {% if current_user.is_authenticated and (current_user.admin or current_user.spun_staff) %}
        <h3> SPUN Staff </h3>

        <a href="/all_uploads_v2">
          <div class="page-menu-item">
            <h3>All v2 uploads</h3>
          </div>
        </a>

        <a href="/taxonomy/search">
          <div class="page-menu-item">
            <h3>Search for samples based on taxonomy</h3>
          </div>
        </a>   

        <a href="/ecoregions/view_all">
          <div class="page-menu-item">
            <h3>View ecoregions</h3>
          </div>
        </a>           

        <a href="/show_statistics">
          <div class="page-menu-item">
            <h3>Cohorts report</h3>
          </div>
        </a>  

        <a href="/map/generate">
          <div class="page-menu-item">
            <h3>Generate Map</h3>
          </div>
        </a>  

        <a href="/map/view">
          <div class="page-menu-item">
            <h3>View Map</h3>
          </div>
        </a>  

      {% endif %}      
      
      {% if current_user.is_authenticated and current_user.admin %}
        <h3> Admin </h3>
        <a href="{{ url_for('user.users') }}">
          <div class="page-menu-item">
            <h3>Users</h3>
          </div>
        </a>
        <a href="/scripps_form">
          <div class="page-menu-item">
            <h3>New Scripps Data (V2)</h3>
          </div>
        </a>
        <a href="/all_scripps_uploads">
          <div class="page-menu-item">
            <h3>All scripps uploads</h3>
          </div>
        </a>        

        <a href="/export_all_richness_data" target="_blank">
          <div class="page-menu-item">
            <h3>Export all richness data</h3>
            <div>Please note: after you export them, they should be in the server on the directory "richness_exports"</div>
          </div>
        </a>
        
        <a href="/update_missing_geo_data" target="_blank">
          <div class="page-menu-item">
            <h3>{{ samples_with_missing_fields_nr }} Samples with missing geo data. </h3>
            <div>Press button to initate update of 50 samples</div>
          </div>
        </a>       
        
                
      {% endif %}
      <a href="/logout">
        <div class="page-menu-item">
          <h3>Logout</h3>
        </div>
      </a>

      {% if current_user.is_authenticated and current_user.admin %}
        {% if sys_info and 'disk_used_percent' in sys_info %}
          Hard disk usage: {{ sys_info['disk_used_percent'] }}%

        {% endif %}
      {% endif %}


  </div>
</body>
</html>
