<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <title>Spun data upload</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
      </ul>
    </div>
  </div>
  <div class="content" style="p-4">  
    <h1>Sequencing data upload process form</h1>
    <div>
        You are logged in with the name: {{name}} <br>
        with the email: {{email}}
    </div>
      {% if current_user.is_authenticated and current_user.approved %}
        {% if user_should_see_v2 %}
          <a href="{{ url_for('metadata.metadata_form') }}">
            <div class="page-menu-item">
              <h3>Metadata Submition form (v2)</h3>
            </div>
          </a>
          {{ user_metadata_uploads }} 
        {% else %}
          {% if gz_filedata %}
            <a href="/form_resume">
              <div class="page-menu-item">
                <div>

                    {% for filename, file_data in gz_filedata.items() %}
                        {% if 'percent_uploaded' in file_data %}
                            {% if file_data.percent_uploaded == 100 %}
                                You have uploaded the file {{ filename }}<br>
                            {% else %}
                                {% if file_data.percent_uploaded > 0 %}
                                    You have previously started uploading a file: {{ filename }}<br>
                                    Already uploaded: {{ file_data.percent_uploaded }}%<br>
                                    Enter the form and select the same file to resume uploading<br>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                  
                </div>
                
                <h3>Resume Upload</h3>
              </div>
              
            </a>
          {% endif %}        
          <a href="/user_uploads?user_id={{ user_id }}">
            <div class="page-menu-item">
              <h3>Previous uploads</h3>
            </div>
          </a>        
          <a href="/form">
            <div class="page-menu-item">
              <h3>Start a new upload</h3>
            </div>
          </a>
          <a href="/data">
            <div class="page-menu-item">
              <h3>My data</h3>
            </div>
          </a>
        {% endif %}

      {% endif %}
      {% if current_user.is_authenticated and current_user.admin %}
        <h3> Admin </h3>
        <a href="{{ url_for('user.user_groups') }}">
          <div class="page-menu-item">
            <h3>User Groups</h3>
          </div>
        </a>         
        <a href="{{ url_for('user.users') }}">
          <div class="page-menu-item">
            <h3>Users</h3>
          </div>
        </a>
        <a href="{{ url_for('upload.all_uploads') }}">
          <div class="page-menu-item">
            <h3>All uploads</h3>
          </div>
        </a>        
      {% endif %}
      <a href="/logout">
        <div class="page-menu-item">
          <h3>Logout</h3>
        </div>
      </a>
      
      {% if current_user.is_authenticated and current_user.admin %}
        {% if sys_info and 'disk_used_percent' in sys_info %}
          Hard disk usage: {{ sys_info['disk_used_percent'] }}%
        
        {% endif %}
      {% endif %}
      

  </div>
</body>
</html>