<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/google_login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>SPUN sequencing submission form</title>
</head>
<body>
  <h1>SPUN sequencing submission form. Privacy and terms of use</h1>
  <div>
    <p>Description: This domain hosts the application for submission of sequencing data for <a href="https://spun.earth">SPUN</a></p>
    <p>Its intended use is only for collaborators of SPUN after prior agreement with the SPUN science team</p>
    <p>Only pre-approved accounts will be able to access the functionality of the form</p>
    <p>Privacy text here</p>
  </div>
</body>
</html>