<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Upload data</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>

  <h1>
    All scripps uploads
  </h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated AT</th>
        </tr>
      </thead>
      <tbody id="files_body">
        {% for upload in scripps_uploads %}
          <tr>
              <td scope="row">
                <a href="/scripps_form?upload_id={{ upload.id }}">
                  {{ upload.id }}
                </a>
              </td>       
              <td>{{ upload.created_at }}</td>
              <td>{{ upload.updated_at }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
