<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Existing Hetzner VMs</title>
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
        th { background-color: #eee; }
    </style>    
</head>
<body>
  {% import 'macros/_navbar.html' as nav %}
  {{ nav.render_navbar(logo_href='https://spun.earth', links=[
      {'url': 'https://spun.earth', 'label': 'Spun Website'},
      {'url': '/', 'label': 'App homepage'},
  ]) }}    
    <h1>Existing Hetzner VMs</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created</th>
                <th>IP</th>
            </tr>
        </thead>
        <tbody>
            {% for vm in vms %}
            <tr>
                <td>{{ vm.id }}</td>
                <td>{{ vm.name }}</td>
                <td>{{ vm.created }}</td>
                <td>{{ vm.ip }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
