<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Users</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>
  <h1>Users list</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Upload processes</th>
          <th scope="col">Is Admin</th>
          <th scope="col">Is Approved</th>
          <th scope="col">Buckets Access</th>
        </tr>
      </thead>
      <tbody id="files_body">
        {% for user in all_users %}
          <tr>
              <td scope="row">
                {% if user.uploads_count == 0 %}
                  <a href="#" class="remove_user text-danger" data-user-id="{{ user.user.id }}">X</a>
                {% endif %}
              </td>
              <td>{{ user.user.email }}</td>
              <td>{{ user.user.name }}</td>
              <td>
                {% if user.uploads_count > 0 %}
                  <a href="/user_uploads?user_id={{ user.user.id }}">{{ user.uploads_count }}</a>
                  {% if (user.uploads_count - user.reviewed_by_admin_count) > 0 %}
                  <div>
                    Not reviewed by admin: {{ (user.uploads_count - user.reviewed_by_admin_count) }}
                  </div>
                  {% endif %}
                {% else %}
                  {{ user.uploads_count }}
                {% endif %}
              </td>
              <td>
                <form action="/update_admin_status" method="post" class="admin-form">
                  <input type="hidden" name="user_id" value="{{ user.user.id }}">
                  <div class="form-check">
                    <input class="form-check-input admin-checkbox" type="checkbox" name="admin" {% if user.user.admin %} checked {% endif %} {% if user.user.id == current_user.id %} disabled {% endif %}>
                  </div>
                </form>
              </td>
              <td>
                <form action="/update_approved_status" method="post" class="approved-form">
                  <input type="hidden" name="user_id" value="{{ user.user.id }}">
                  <div class="form-check">
                    <input class="form-check-input approved-checkbox" type="checkbox" name="approved" {% if user.user.approved %} checked {% endif %}>
                  </div>
                </form>
              </td>
              <td>
                <ul>
                  {% if user.user.buckets %}
                    {% for bucket in user.user.buckets %}
                      <li>
                        {{ bucket }}
                        <a href="#" class="remove_bucket_access text-danger" data-user-id="{{ user.user.id }}" data-bucket="{{ bucket }}">X</a>
                      </li>
                    {% endfor %}
                  {% else %}
                    <li>No buckets</li>
                  {% endif %}
                </ul>
                <form action="/give_access_to_bucket" method="post" class="buckets-form">
                  <input type="hidden" name="user_id" value="{{ user.user.id }}">
                  <select name="bucket" id="buckets_{{ user.user.id }}">
                    <option value="none"> - </option>
                    {% for bucket in all_buckets %}
                      <option value="{{ bucket }}">{{ bucket }}</option>
                    {% endfor %}
                  </select>
                </form>
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    $('.admin-checkbox').on('change', function() {
      $(this).closest('.admin-form').submit();
    });
    $('.approved-checkbox').on('change', function() {
      $(this).closest('.approved-form').submit();
    });

    $(document).on('change', 'select[name="bucket"]', function() {
      $(this).closest('.buckets-form').submit();
    });

    $('.remove_bucket_access').on('click', function() {
      event.preventDefault();
      var userId = $(this).data('user-id');
      var bucket = $(this).data('bucket');
      console.log('userId:', userId);
      console.log('bucket:', bucket);
      // Make AJAX request to remove access to the bucket
      $.ajax({
        url: '/remove_access_from_bucket',
        type: 'POST',
        data: {
          user_id: userId,
          bucket: bucket
        },
        success: function(response) {
          // Handle success response if needed
          console.log('Access removed for bucket:', bucket);
          console.log(response)
          if (response.status==1) {
            $('li').filter(function() {
              return $(this).find('.remove_bucket_access').data('user-id') === userId &&
                     $(this).find('.remove_bucket_access').data('bucket') === bucket;
            }).remove();
          }
        },
        error: function(xhr, status, error) {
          // Handle error response if needed
          console.error('Error removing access:', error);
        }
      });
    });

    $('.remove_user').on('click', function() {
      var userId = $(this).data('user-id');
      var $row = $(this).closest('tr'); // Find the parent row

      // Ask the user for confirmation
      if (confirm("Are you sure you want to remove this user?")) {
        // If the user confirms, proceed with removal
        event.preventDefault();
        console.log('userId:', userId);
        // Make AJAX request to remove the user
        $.ajax({
          url: '/remove_user',
          type: 'POST',
          data: {
            user_id: userId
          },
          success: function(response) {
            // Handle success response
            console.log(response);
            if (response.status == 1) {
              console.log('User removed:', userId);
              // Remove the row from the table
              $row.remove();
            }
          },
          error: function(xhr, status, error) {
            // Handle error response if needed
            console.error('Error removing user:', error);
          }
        });
      }
    });

  </script>
</body>
</html>
