<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Upload data</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>

  <h1>
    {% if user_id %}
      Uploads list for user {{ username }} - {{ user_email }}
    {% else %}
      All metadata uploads v2
    {% endif %}
  </h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          {% if not user_id %}
            <th scope="col">Username</th>
            <th scope="col">Email</th>
          {% endif %}
          <th scope="col">Project</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated AT</th>
          <th scope="col">Using Scripps</th>
          <th scope="col">Uploads folder</th>
          <th scope="col">Nr of Samples</th>
          <th scope="col">Nr of Regions</th>
          <th scope="col">Region 1</th>
          <th scope="col">Region 2</th>
          <th scope="col">Nr of Sequencer IDs</th>
          <th scope="col">Sequencer with missing primer counts</th>
          <th scope="col">Nr of files per sequence</th>
          <th scope="col">Nr of files uploaded</th>
          <th scope="col">Nr of files on disk</th>
          <th scope="col">Files size processing folder</th>
          {% if is_admin %}
            <th scope="col">Delete</th>
          {% endif %}
        </tr>
      </thead>
      {% from 'macros/_analysis_cell.html' import render_analysis_cell %}
      <tbody id="files_body">
        {% for upload in user_uploads %}

          <tr>
              <td scope="row">
                <a href="/metadata_form?process_id={{ upload.id }}">
                  {{ upload.id }}
                </a>
              </td>
              {% if not user_id %}
                <td>{{ upload.user_name }}</td>
                <td>{{ upload.user_email }}</td>
              {% endif %}
              <td>
                  <a href="/metadata_form?process_id={{ upload.id }}">
                    {{ upload.project_id }}
                  </a>
              </td>
              <td>{{ upload.created_at }}</td>
              <td>{{ upload.updated_at }}</td>
              <td>{{ upload.using_scripps }}</td>
              <td>{{ upload.uploads_folder }}</td>
              <td>{{ upload.nr_samples }}</td>
              <td>{{ upload.nr_regions }}</td>
              
              {{ render_analysis_cell('region_1', upload) }}
              {{ render_analysis_cell('region_2', upload) }}  
            
              <td class="{% if upload.nr_sequencer_ids < (upload.nr_samples * upload.nr_regions) %}text-danger{% endif %}">
                  {{ upload.nr_sequencer_ids }}
              </td>
              <td>{{ upload.missing_adapter_sequencer_ids }}</td>
              <td>{{ upload.nr_files_per_sequence }}</td>
              <td>
                  {{ upload.nr_fastq_files_db_reported }}
              </td>              
              <td class="{% if upload.nr_fastq_files < (upload.nr_sequencer_ids * upload.nr_files_per_sequence) %}text-danger{% endif %}">
                  {{ upload.nr_fastq_files }}
              </td>
              <td>
                {{ '%.1f' | format(upload.total_uploads_file_size / (1024*1024)) }} MB
              </td>
              {% if is_admin %}
                <td>
                  <a href="#" class="text-danger delete-upload" data-process-id="{{ upload.id }}" data-user-id="{{ user_id }}" data-order-by="{{ order_by }}">
                    X
                  </a>
                </td>
              {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
  $(document).ready(function() {
      $(".delete-upload").click(function(e) {
          e.preventDefault(); // Prevent the default action of clicking the link

          // Get the data attributes
          var processId = $(this).data("process-id");
          var userId = $(this).data("user-id");
          var orderBy = $(this).data("order-by");
          var return_to = 'all';

          // Ask for confirmation
          var confirmation = confirm("Are you sure you want to delete this upload?");

          // If user confirms, redirect to the delete URL
          if (confirmation) {
              window.location.href = "delete_upload_process_v2?return_to=" + return_to + "&process_id=" + processId + "&user_id=" + userId;
          }
      });
      $('.approved-checkbox').on('change', function() {
        $(this).closest('.approved-form').submit();
      });
  });
  </script>
</body>
</html>
