<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />       
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Upload data</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>  
    
  <h1>Uploads list for user</h1>
  <div>
    <table class="table">      
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated AT</th>
          <th scope="col">Uploads folder</th>
          <th scope="col">CVS uploaded</th>
          <th scope="col">CVS filename</th>
          <th scope="col">Files renamed</th>
          <th scope="col">Fastqc/multiqc run</th>
          <th scope="col">Files moved to bucket</th>
          <th scope="col">Files still on server</th>
          <th scope="col">Files size</th>
        </tr>
      </thead>
      <tbody id="files_body">
        {% for upload in user_uploads %}
          <tr>
              <td scope="row">
                <a href="/form_resume?process_id={{ upload.id }}">
                  {{ upload.id }}
                </a>
              </td>
              <td>{{ upload.created_at }}</td>
              <td>{{ upload.updated_at }}</td>
              <td>{{ upload.uploads_folder }}</td>
              <td>{{ upload.csv_uploaded }}</td>
              <td>{{ upload.csv_filename }}</td>
              <td>{{ upload.files_renamed }}</td>
              <td {% if upload.fastqc_run:  %} class="text-success" {% endif %}>
                {{ upload.fastqc_run }}
              </td>
              <td {% if upload.renamed_sent_to_bucket:  %} class="text-success" {% endif %}>
                {{ upload.renamed_sent_to_bucket }}
              </td>
              <td {% if upload.files_still_on_filesystem:  %} class="text-success" {% endif %}>
                {% if upload.files_still_on_filesystem:  %}
                  {{ upload.files_still_on_filesystem }}
                  <a href="delete_upload_files?process_id={{ upload.id }}&user_id={{ user_id }}">
                    Delete
                  </a>
                {% else: %}
                  {{ upload.files_still_on_filesystem }}
                {% endif %}
              </td>
              <td>
                <td>
                  {{ '%.1f' | format(upload.files_size / (1024*1024)) }} MB
                </td>
              </td>                          
          </tr>
        {% endfor %}        
      </tbody>
    </table>    
  </div>
</body>
</html>