<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/general.css" rel="stylesheet" type="text/css" />    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Upload data</title>
</head>
<body>
  <div class="app-navbar">
    <a href="https://spun.earth" class="logo"></a>
    <div class="menu">
      <ul>
        <li><a href="https://spun.earth">Spun Website</a></li>
        <li><a href="/">App homepage</a></li>
      </ul>
    </div>
  </div>  
    
  <h1>Users list</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Upload processes</th>
          <th scope="col">Is Admin</th>
          <th scope="col">Is Approved</th>
        </tr>
      </thead>
      <tbody id="files_body">
        {% for user in all_users %}
          <tr>
              <td scope="row"></td>
              <td>{{ user.user.email }}</td>
              <td>{{ user.user.name }}</td>
              <td>
                {% if user.uploads_count > 0 %}
                  <a href="/user_uploads?user_id={{ user.user.id }}">{{ user.uploads_count }}</a>
                {% else %}
                  {{ user.uploads_count }}
                {% endif %}              
              </td>
              <td>
                <form action="/update_admin_status" method="post" class="admin-form">
                  <input type="hidden" name="user_id" value="{{ user.user.id }}">
                  <div class="form-check">
                    <input class="form-check-input admin-checkbox" type="checkbox" name="admin" {% if user.user.admin %} checked {% endif %} {% if user.user.id == current_user.id %} disabled {% endif %}>
                  </div>
                </form>
              </td>
              <td>
                <form action="/update_approved_status" method="post" class="approved-form">
                  <input type="hidden" name="user_id" value="{{ user.user.id }}">
                  <div class="form-check">
                    <input class="form-check-input approved-checkbox" type="checkbox" name="approved" {% if user.user.approved %} checked {% endif %}>
                  </div>
                </form>                
              </td>
          </tr>
        {% endfor %}        
      </tbody>
    </table>    
  </div>
  <script>
    $('.admin-checkbox').on('change', function() {
      $(this).closest('.admin-form').submit();
    });
    $('.approved-checkbox').on('change', function() {
      $(this).closest('.approved-form').submit();
    });    
  </script>  
</body>
</html>